<%- include('./base/header.ejs') %>

<div class="alert alert-primary w-50 mx-auto" role="alert">
 <h3 class="text-dark text-center">Search Query: <%= searchQuery %></h3>
</div>

  <% if (students.length > 0) { %>
    <ul>
      <% students.forEach(student => { %>
        <li><%= student.name %> - <%= student.email %></li>
      <% }) %>
    </ul>
    <% } else { %>
      <p>No results found.</p>
  <% } %>
  <a href="/">Back to Search</a>

<%- include('./base/footer.ejs') %>

    